{% load staticfiles %}

<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    {% block extra_head %}{% endblock extra_head %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/style.css' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'members/js/scripts.js' %}" /></script>

</head>

<body>
  <div class="header navbar navbar-default">
    <section class="container ">
      <a href="{% url 'home' %}"><img id="logo" src="{% static 'members/img/logo.png' %}"></a>
      <ul class="nav navbar-nav navbar-right">
        <!--<li></li>
        <li><a href="{% url 'home' %}"><span class="btn btn-default">Inicio</span></a></li>-->
        {% if not user.is_authenticated %}
          <li><a href="{% url 'members:login' %}"><span class="btn btn-default">Login</span></a></li>
          <li><a href="{% url 'members:signup' %}"><span class="btn btn-primary">Solicitud de alta</span></a></li>
        {% else %}
          <!--<li><a href="{% url 'members:profile' %}"><span class="btn btn-default">Perfil</span></a></li>
          <li><a href="{% url 'members:logout' %}"><span class="btn btn-default">Logout</span></a></li>-->
          <li>
            <div class="dropdown" id="user-menu">

              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <img id="avatar" src='/media/{{user.member.photo}}'>
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'home' %}">Inicio</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'members:profile' %}">Perfil</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'members:logout' %}">Logout</a></li>
              </ul>
            </div>
          </li>
        {% endif %}
        <!--<a href="">Login</a>-->
      </nav>
    </section>

  </div>
  <div class="container">
    {% block body %}{% endblock body %}
  </div>
</body>
</html>
