{% extends "base.html" %}
{% load staticfiles %}

{% block breadcumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Inicio</a></li>
  <li class="active">Comunidad</a>
  </ol>
  {% endblock %}

  {% block body %}
  <h1>Miembros de la comunidad de Iniciador</h1>

  {% if user.member.status = "active" or user.member.status = "unknown" %}
    <table id="community" class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>
          
          <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grupo(s)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="cityList">
              <li data-group="all" class="active all">Todos</li>
              {% for g in groups %}
                <li data-group="{{g|slugify}}">{{g}}</li>
              {% endfor %}
            </ul>
          </div>
        </th>
        <th>Estado</th>
        <th>Última actividad</th>
        <th>Email personal</th>
        <th>Teléfono(s)</th>
        <th>Emails secundarios</th>
      </tr>
      </thead>
      <tbody>
      {% for m in members %}
        {% if m.status = "active" or m.status = "unknown" %}
        <tr class="{% for g in m.groups.all %}{{g|slugify}}{% endfor %}">
          <td><div class="img" style="background-image:url(/media/{{m.photo}})"></div></td>
          <td>{{m.user.first_name}}</td>
          <td>{{m.user.last_name}}</td>
          <td>
            {% for g in m.groups.all %}
            {{g}}
            {% endfor %}
          </td>
          <td>
            {% if m.status = "active" %}
              Activo
            {% else %}
              Desconocido
            {% endif %}
          </td>
          <td>{{m.last_activity}}</td>
          <td>{{m.user.email}}</td>
          <td>
            {{m.phone}}
          </td>
          <td>
            {% for s in m.secondary_emails.all %}
              {{s}}
            {% endfor %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Lo sentimos, al no ser un miembro activo no puedes consultar los datos de contacto de los miembros de la comunidad</p>
  {% endif %}
  {% endblock %}
