{% extends "base.html" %}
{% load staticfiles %}

{% block breadcumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Lista de miembros</a>
  </ol>
{% endblock %}

{% block body %}
  <h1>Miembros de la comunidad de Iniciador</h1>
  <ul class="style-none">
    {% for m in members %}
      {% if m.status = "active" %}
        <li class="member-box">
          <div class="img" style="background-image:url(/media/{{m.photo}})"></div><br>
          <p>
            <a href="#">
              {{m}}
            </a>
          </p>
          <p>
            {% for g in m.groups.all %}
              {% if g.name != "Patronato" %}
                Iniciador {{g}}
              {% else %}
                {{g}} Iniciador
              {% endif %}
              <br>
            {% endfor %}
          </p>
          <p class="networks">
            {% for p in m.profiles.all %}
              <a
                href="{{p.url}}"
                title="{{p.name|capfirst|default:""}} {% if p.network != "other" %}{{p.network|default:""}}{% endif %}"
                class="profile-link"
              >
                <i class="icon-world icon-{{p.name}} icon-{{p.network}}"></i>
              </a>
            {% endfor %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
