{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<h1>Roadmap de la web de la comunidad</h1>
<p>A continuación puedes ver una lista de las tareas pendientes de la web, si quieres aportar ideas o sabes desarrollar y quieres ayudar, por favor escríbe a hhkaos@gmail.com</p>
<iframe src="http://trello.com/b/ATrPZcL8.html" id="trello"></iframe>
<h1>Descarga el código</h1>
<p>Puedes <a href="https://github.com/hhkaos/reiniciador/archive/master.zip">descargarte el código de esta web</a> desde el <a href="https://github.com/hhkaos/reiniciador">repositorio de Github</a>, estudiarlo, modificarlo, mejorarlo o hacer con el lo que quieras ^_^ siempre que todo aquello que hagas con él lo vuelvas a liberar ya que este proyecto se ha licenciado bajo la licencia GNU GPL v2.0</p>
<p>Si encuentras un error y no quieres/sabes arreglarlo por favor <a href="https://github.com/hhkaos/reiniciador/issues">repórtalo aquí</a>.</p>
<p class="center"><img src="{% static 'members/img/cherryontop-o-cat.jpg' %}" width="300"></p>
{% endblock %}
